.dropdown.habidat-dropdown
  button.dropbtn.habidat-dropbtn(title=config.settings.general.title + ' Apps')
    img(style='height: 2.57em;', src=baseUrl + '/public/img/habidat.png')
  span.habidat-spacer &nbsp;
  .dropdown-content.habidat-dropdown-content
    each entry in menuEntries
      if (!entry.url.includes(fromUrl) && (!entry.originalUrl || !entry.originalUrl.includes(fromUrl)))
        - var url = entry.redirect?entry.url:'https://'+config.nextcloud.subdomain+'.'+config.settings.general.domain + entry.url;
        a(href=url) 
          span.habidat-icon(style='mask-image: url(' + baseUrl + '/public/img/appmenu/' + entry.icon + ');')
          span.habidat-spacer &nbsp;
          span=entry.name

