include menu

doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(rel="stylesheet" href="/public/stylesheets/dataTables.bootstrap.min.css")
    link(rel="stylesheet" href="/public/stylesheets/jquery.dataTables.min.css")
    link(rel="stylesheet" href="/public/stylesheets/style.css")
    script(type='text/javascript' src='/public/javascripts/jquery-2.1.4.min.js')
    script(type='text/javascript' src='/public/javascripts/jquery.dataTables.min.js')
    script(type='text/javascript' src='/public/javascripts/jquery.validate.min.js')
    script(type='text/javascript' src='/public/javascripts/bootstrap.min.js')
    script(type='text/javascript' src='/public/javascripts/custom.js')     
    script(type='text/javascript' src='/public/javascripts/bootbox.min.js')    
  body
    .container.col-md-8.col-md-offset-2.col-sm-offset-0.col-xs-offset-0.col-xs-12.col-sm-12
      +nav("habiDAT Benutzer*innen", "dropdown_menu")
        if (session && !currentUser)
          +nav_item( "/login") Login
        if (session && !currentUser)
          +nav_item( "/lostpasswd") Passwort vergessen?         
        if (currentUser)
          +nav_item( "/edit_me") Daten Ändern
        if (currentUser && currentUser.isAdmin)
          +nav_item( "/show" ) Übersicht   
        if (currentUser)
          +nav_item( "/logout" ) Abmelden
      block content

