extends layout
include various

block content
  +notification(notification, message, responses)
  form.form-horizontal.checkbox-form.validation-form(action=action method="post" role="form")
    legend Login
    .col-md-6
      .form-group
        label.control-label.col-md-4 Username
        .col-md-8
          .input-group
            span.input-group-addon
              i.glyphicon.glyphicon-user
            input.form-control(type="text" name="username" placeholder='Username' required)
      .form-group
        label.control-label.col-md-4 Passwort
        .col-md-8
          .input-group
            span.input-group-addon
              i.glyphicon.glyphicon-lock
            input.form-control(type="password" name="password" placeholder='Passwort' required)                
    .col-md-12
      .form-group
        .col-md-6.text-right
          button(type='submit' class='btn btn-primary') Login            