extends layout
include various
include user/user
include group/group

block content
    +notification(notification, message, responses)
    .row
      .col-md-7
        .panel.panel-default
          .panel-heading
            h2.panel-title 
              span Benutzer 
              span
                a.btn.btn-default.btn-sm(href='/user/add' title='Benutzer*in erstellen') 
                  span.glyphicon.glyphicon-plus
              span
                a.btn.btn-default.btn-sm(href='/user/invite' title='Benutzer*in einladen') 
                  span.glyphicon.glyphicon-envelope

          .panel-body
            +user_table(users)(editActions=true)
      .col-md-5
        .panel.panel-default
          .panel-heading
            h2.panel-title 
              span Gruppen 
              if (currentUser.isAdmin)
                span
                  a.btn.btn-default.btn-sm(href='/group/add' title="Gruppe erstellen") 
                    span.glyphicon.glyphicon-plus
          .panel-body
            +group_table(groups)(id="grouptable" editActions=true)
