extends ../layout
include user

block content
    if message
      .alert.alert-danger=message
    if notification && notification != ""
      .alert.alert-success=notification      
    +lostpasswd_form('/user/lostpasswd', user, token)   
      
