 /* Dropdown Button */
.habidat-dropbtn {
  color: grey;
  border: none;
  background-color: transparent;
  justify-content: center;
  width: 3.5em;
  height: 2.9em;
}

.habidat-spacer {
    width:0.4em;
}

/* The container <div> - needed to position the dropdown content */
.habidat-dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.habidat-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.habidat-dropdown-content a {
  color: #212121 !important;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.habidat-dropdown-content a svg {

}

/* Change color of dropdown links on hover */
.habidat-dropdown-content a:hover {background-color: #ddd;}

.habidat-dropdown-content a.active {color: #888 !important;}

/* Show the dropdown menu on hover */
.habidat-dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.habidat-dropdown:hover .dropbtn {background-color: #e9e9e9;} 

.habidat-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #909090;
  mask-size: cover;
  mask-mode: match-source;
}